@CHARSET "UTF-8";

@font-face {
  font-family: 'socialicoregular';
  src: url('font/socialico-webfont.eot');
  src: url('font/socialico-webfont.eot?#iefix')
    format('embedded-opentype'), url('font/socialico-webfont.woff2')
    format('woff2'), url('font/socialico-webfont.woff') format('woff'),
    url('font/socialico-webfont.ttf') format('truetype'),
    url('font/socialico-webfont.svg#socialicoregular') format('svg');
}

@font-face {
  font-family: 'socialico_plusregular';
  src: url('font/socialico_plus-webfont.eot');
  src: url('font/socialico_plus-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('font/socialico_plus-webfont.woff2') format('woff2'),
    url('font/socialico_plus-webfont.woff') format('woff'),
    url('font/socialico_plus-webfont.ttf') format('truetype'),
    url('font/socialico_plus-webfont.svg#socialico_plusregular')
    format('svg');
}