<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WCSST 21</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/jquery.jcarousel.css" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/func.js"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<div class="shell">
  <div id="header">
    <h1 id="logo" class="left"><a href="#">WCSST 21<span>Free Website Template</span></a></h1>
    <div id="navigation" class="left">
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Solutions</a></li>
        <li class="active"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="slider-holder">
    <div class="slider-bg"> <a href="#" class="btn-nav btn-prev"></a> <a href="#" class="btn-nav btn-next"></a>
      <div class="nav">
        <ul>
          <li><a href="#" rel="1">&nbsp;</a></li>
          <li><a href="#" rel="2">&nbsp;</a></li>
          <li><a href="#" rel="3">&nbsp;</a></li>
          <li><a href="#" rel="4">&nbsp;</a></li>
        </ul>
        <div class="cl">&nbsp;</div>
      </div>
      <div class="slider">
        <ul>
          <li>
            <div class="item"> <img src="css/images/slide-img01.gif" alt="" class="left" />
              <div class="info right">
                <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                <p><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis <a href="#">porttitor</a>. Aliquam sed fringilla arcu.</p>
                <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit. Nunc ornare consequat tortor quis porttitor. <strong>Aliquam</strong> sed fringilla arcu. Maecenas sit amet augue. Donec felis eros, luctus at blandit ac. </p>
              </div>
              <div class="cl">&nbsp;</div>
            </div>
          </li>
          <li>
            <div class="item"> <img src="css/images/slide-img01.gif" alt="" class="left" />
              <div class="info right">
                <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                <p><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis <a href="#">porttitor</a>. Aliquam sed fringilla arcu.</p>
                <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit. Nunc ornare consequat tortor quis porttitor. <strong>Aliquam</strong> sed fringilla arcu. Maecenas sit amet augue. Donec felis eros, luctus at blandit ac. </p>
              </div>
              <div class="cl">&nbsp;</div>
            </div>
          </li>
          <li>
            <div class="item"> <img src="css/images/slide-img01.gif" alt="" class="left" />
              <div class="info right">
                <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                <p><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis <a href="#">porttitor</a>. Aliquam sed fringilla arcu.</p>
                <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit. Nunc ornare consequat tortor quis porttitor. <strong>Aliquam</strong> sed fringilla arcu. Maecenas sit amet augue. Donec felis eros, luctus at blandit ac. </p>
              </div>
              <div class="cl">&nbsp;</div>
            </div>
          </li>
          <li>
            <div class="item"> <img src="css/images/slide-img01.gif" alt="" class="left" />
              <div class="info right">
                <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
                <p><strong>Lorem</strong> ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis <a href="#">porttitor</a>. Aliquam sed fringilla arcu.</p>
                <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit. Nunc ornare consequat tortor quis porttitor. <strong>Aliquam</strong> sed fringilla arcu. Maecenas sit amet augue. Donec felis eros, luctus at blandit ac. </p>
              </div>
              <div class="cl">&nbsp;</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="main">
    <div class="main-t"></div>
    <div class="main-c">
      <div class="main-content">
        <div id="head">
          <div class="box-t box-quick">
            <div class="box-bg">
              <h2>Quick Links</h2>
              <ul>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur era.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur era.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur era.</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur era.</a></li>
              </ul>
              <a href="#" class="more right">Read More</a>
              <div class="cl">&nbsp;</div>
            </div>
            <span class="arr">&nbsp;</span> </div>
          <div class="box-t box-services">
            <div class="box-bg">
              <h2>Providing top services</h2>
              <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet <strong>cursus</strong> augue. Donec felis eros, luctus at blandit ac nunc consequat.</p>
              <a href="#" class="more left">Read More</a>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="box-b box-profile left">
            <h2>Company Profile</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet <strong>cursus</strong> augue. Donec felis eros, luctus at blandit ac. Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis porttitor.</p>
            <a href="#" class="more">Read More</a> <span class="arr">&nbsp;</span> </div>
          <div class="box-b box-quality right">
            <h2>Outstanding Quality</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet <strong>cursus</strong> augue. Donec felis eros, luctus at blandit ac. Lorem ipsum dolor sit amet, consectetur <a href="#">adipiscing</a> elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc <a href="#">ornare</a> consequat tortor quis porttitor.</p>
            <a href="#" class="more">Read More</a> <span class="arr">&nbsp;</span> </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="main-b"></div>
  </div>
  <div class="footer">
    <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
    <p class="rf">Design by <a href="http://www.websitecsstemplates.com/" target="_blank">WebsiteCSSTemplates</a></p>
    <div style="clear:both;"></div>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>